div.advertisement-2{
    width: 100%;
    height: 300px;
    position: absolute;
    top: 1830px;
    background-color: lightgray;
}
div.advertisement-2>a{
    display: inline-block;
    width: 47%;
    height: 270px;
    margin-right: 23px;
    margin-top: 20px;
}
div.advertisement-2>a>img{
    width: 100%;
    height: inherit;
    border-radius: 20px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}