div.digiplus{
    width: 100%;
    height: 450px;
    position: absolute;
    top: 3800px;
    background-color:lightgray;
}
div.digiplus>div.digiplus-1{
    width: 96%;
    height: 400px;
    background-color: #941b80;
    position: absolute;
    top: calc(50% - 400px / 2);
    right: calc(50% - 96% / 2);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
div.digiplus>div.digiplus-1>div.box-1{
    display: inline-block;
    width: 33%;
    height: inherit;
    background-image: url(../images/plus-widget.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding-right: 20px;
    background-position: center bottom;
}
div.digiplus>div.digiplus-1>div.box-1>div.logo-3{
    width: 280px;
    height:100px;
    position: absolute;
    top: 0;
    right: 0;
}
div.digiplus>div.digiplus-1>div.box-1>div.logo-3>img{
    width: 120px;
    height: 40px;
    position: absolute;
    top: 20px;
    right: 30px;
}
div.digiplus>div.digiplus-1>div.box-1>div.logo-3>p{
    width: 220px;
    height: 40px;
    position: absolute;
    top: 70px;
    right: 30px;
    font-weight: bold;
    color: whitesmoke;
    font-size: 13px;
    font-family: iransans;
    
}
div.digiplus>div.digiplus-1>div.box-1>div.member{
    width: 120px;
    height: 40px;
    /* background-color: aqua; */
    position: absolute;
    top: 100px;
    right: 30px;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
div.digiplus>div.digiplus-1>div.box-1>div.member>a{
    display: inline-block;
    text-decoration: none;
    height: 40px;
    color: whitesmoke;
    font-family: iransans;
    font-weight: bold;
    font-size: 16px;
    line-height: 40px;
    padding-right: 10px;
}
div.digiplus>div.digiplus-1>div.box-1>div.member>img{
    display: inline-block;
    height: 30px;
    width: 30px;
    position: absolute;
    top: calc(50% - 30px / 2);
    right: 75px;
}
div.digiplus>div.digiplus-1>div.box-2{
    display: inline-block;
    width: 32%;
    height: 90%;
    position: absolute;
    top: calc(50% - 90% / 2);
    right: calc(50% - 32% / 2);
    background-color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
div.digiplus>div.digiplus-1>div.box-2>div.heading-1{
    width: 100%;
    height: 60px;
    position: absolute;
}
div.digiplus>div.digiplus-1>div.box-2>div.heading-1>div.gifts{
    display: inline-block;
    width: 20%;
    height: inherit;
    position: absolute;
}
div.digiplus>div.digiplus-1>div.box-2>div.heading-1>div.gifts>img{
    width: 35px;
    height: 35px;
    position: absolute;
    top: calc(50% - 35px / 2);
    right: 20px;
}
div.digiplus>div.digiplus-1>div.box-2>div.heading-1>div.text{
    display: inline-block;
    width:40% ;
    height: 60px;
    position: absolute;
    right: 20%;
}
div.digiplus>div.digiplus-1>div.box-2>div.heading-1>div.text>h3{
    width: 100%;
    height: 100%;
    font-family: iransans;
    font-size: 14px;
    color: black;
    font-weight: bold;
    line-height:60px;
}
div.digiplus>div.digiplus-1>div.box-2>div.heading-1>div.text-1{
    display: inline-block;
    width: 40%;
    height: 60px;
    position: absolute;
    right: 60%;
    padding-right: 40px;
}
div.digiplus>div.digiplus-1>div.box-2>div.heading-1>div.text-1>a{
    display: inline-block;
    width: 100%;
    height: 60px;
}
div.digiplus>div.digiplus-1>div.box-2>div.heading-1>div.text-1>a>p{
    width: 60%;
    height: 60px;
    position: absolute;
    font-family: iransans;
    font-weight: bold;
    color: black;
    font-size: 14px;
    line-height: 60px;

}
div.digiplus>div.digiplus-1>div.box-2>div.heading-1>div.text-1>a>img{
    display: inline-block;
    position: absolute;
    width: 10%;
    height: 60px;
    right: 120px;
}
div.digiplus>div.digiplus-1>div.box-3{
    display: inline-block;
    width: 32%;
    height: 90%;
    position: absolute;
    top: calc(50% - 90% / 2);
    right: 66.5%;
    background-color: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
div.digiplus>div.digiplus-1>div.box-3>div.heading-1{
    width: 100%;
    height: 60px;
    position: absolute;
}
div.digiplus>div.digiplus-1>div.box-3>div.heading-1>div.gifts{
    display: inline-block;
    width: 20%;
    height: inherit;
    position: absolute;
}
div.digiplus>div.digiplus-1>div.box-3>div.heading-1>div.gifts>img{
    width: 35px;
    height: 35px;
    position: absolute;
    top: calc(50% - 35px / 2);
    right: 20px;
}
div.digiplus>div.digiplus-1>div.box-3>div.heading-1>div.text{
    display: inline-block;
    width:40% ;
    height: 60px;
    position: absolute;
    right: 20%;
}
div.digiplus>div.digiplus-1>div.box-3>div.heading-1>div.text>h3{
    width: 100%;
    height: 100%;
    font-family: iransans;
    font-size: 14px;
    color: black;
    font-weight: bold;
    line-height:60px;
}
div.digiplus>div.digiplus-1>div.box-3>div.heading-1>div.text-1{
    display: inline-block;
    width: 40%;
    height: 60px;
    position: absolute;
    right: 60%;
    padding-right: 40px;
}
div.digiplus>div.digiplus-1>div.box-3>div.heading-1>div.text-1>a{
    display: inline-block;
    width: 100%;
    height: 60px;
}
div.digiplus>div.digiplus-1>div.box-3>div.heading-1>div.text-1>a>p{
    width: 60%;
    height: 60px;
    position: absolute;
    font-family: iransans;
    font-weight: bold;
    color: black;
    font-size: 14px;
    line-height: 60px;

}
div.digiplus>div.digiplus-1>div.box-3>div.heading-1>div.text-1>a>img{
    display: inline-block;
    position: absolute;
    width: 10%;
    height: 60px;
    right: 120px;
}
div.digiplus>div.digiplus-1>div.box-2>div.image,div.digiplus>div.digiplus-1>div.box-3>div.image{
    width: 100%;
    height: 300px;
    position: absolute;
    top: 60px;
   
}
div.digiplus>div.digiplus-1>div.box-2>div.image>a,div.digiplus>div.digiplus-1>div.box-3>div.image>a{
    display: inline-block;
    width: 32%;
    height: 150px;
    
}
div.digiplus>div.digiplus-1>div.box-2>div.image>a>img,div.digiplus>div.digiplus-1>div.box-3>div.image>a>img{
    width:80% ;
    height: 120px;
    padding-right: 15px;
    
}
